
@font-face {
  font-family: Segoe_UI;
  src: url(../fonts/Segoe_UI.ttf); }
  @font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica.ttf); }
  
  a:hover{
  	color: unset;
  }
  img{
  	max-width: 100%;
  }
ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.fs10 {
  font-size: 10px;
  font-family: Segoe_UI; }

.fullpage {
  height: 100vh; }
  .fullpage img {
    width: 100%;
    height: 100%; }

.page {
  position: relative; }
  .page .icon_support {
    float: right;
    display: flex;
    align-items: center;
    padding: 10px 0px; }
    .page .icon_support ul li {
      float: left; }
      .page .icon_support ul li a {
        display: block;
        padding: 0px 30px;
        font-size: 2rem;
        color: #fff; }
  .page .search_icon {
    padding: 0px 30px; }
    .page .search_icon a {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      font-size: 2rem;
      color: #BB0E1F;
      background: #fff;
      border-radius: 50%;
      text-align: center;
      transition: all .5s; }
      .page .search_icon a i {
        margin: 0 auto;
        font-weight: 400; }
      .page .search_icon a:hover {
        background: #BB0E1F;
        color: #fff; }
  .page .btn_lh {
    margin-left: 30px; }
    .page .btn_lh a {
      display: block;
      padding: 12px 30px;
      position: relative;
      font-size: 1.6rem;
      color: #fff;
      overflow: hidden;
      background: #BB0E1F 0% 0% no-repeat padding-box; }
      .page .btn_lh a i {
        margin-right: 7px; }
      .page .btn_lh a:after {
        width: 0;
        height: 0;
        position: absolute;
        left: -6px;
        top: 0;
        transform: rotateZ(-135deg);
        top: -25px;
        content: '';
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid rgba(60, 78, 64, 0.2); }
  .page .logo {
    float: left; }

.content_page_a {
  position: absolute;
  left: 0;
  top: 0; }

.full_a {
  width: 100%;
  height: 100%; }

.pd50 {
  padding: 50px 0px;
  float: left;
  width: 100%; }
  @media (max-width: 1660px) {
    .pd50 {
      padding: 2% 0px; } }

.menu_right {
  position: fixed;
  right: 0;
  width: 416px;
  max-width: 80%;
  top: 0;
  z-index: 9999;
  min-height: 100vh;
  background: #17291a;
  padding: 150px 30px;
  padding-right: 45px; }
  .menu_right .icon_menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 110px;
    height: 110px;
    background: #6d6d6d;
    z-index: 9999;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .menu_right .icon_menu span {
      width: 24px;
      background: #fff;
      border-radius: 10px;
      background: #c5c8ca;
      width: 30px;
      height: 4px;
      position: relative;
      border-radius: 20px;
      margin: 0 auto;
      margin-top: -20px; }
      .menu_right .icon_menu span:after {
        position: absolute;
        content: '';
        height: 4px;
        width: 20px;
        right: 0;
        top: 8px;
        background: #c5c8ca;
        border-radius: 20px; }
      .menu_right .icon_menu span:before {
        position: absolute;
        content: '';
        height: 4px;
        width: 17px;
        right: 0;
        top: 16px;
        background: #c5c8ca;
        border-radius: 20px; }
  .menu_right .menu_pc .seach_f {
    position: relative;
    overflow: hidden;
    margin-bottom: 15%; }
    .menu_right .menu_pc .seach_f input {
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background: transparent;
      outline: none;
      color: #fff;
      width: 100%;
      height: 47px;
      padding: 0px 20px;
      font-size: 14px; }
    .menu_right .menu_pc .seach_f:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border: none;
      border-left: solid 10px #17291a;
      border-bottom: solid 10px transparent;
      z-index: 1;
      transition: .4s; }
    .menu_right .menu_pc .seach_f:after {
      position: absolute;
      content: '';
      width: 25px;
      height: 1px;
      background: rgba(255, 255, 255, 0.5);
      top: 3px;
      left: -6px;
      transform: rotateZ(135deg); }
    .menu_right .menu_pc .seach_f .btn_sb {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px 20px;
      height: 100%;
      background: transparent;
      outline: none;
      border: 0px;
      font-size: 14px;
      color: #fff; }
  .menu_right .menu_main_pc ul li {
    border-bottom: 1px solid #fff;
    border-left: 5px solid transparent;
    overflow: hidden; }
    .menu_right .menu_main_pc ul li a {
      display: block;
      width: 100%;
      text-align: right;
      color: #fff;
      font-size: 1.8rem;
      padding: 20px 0px;
      transform: translate(30px, 0px);
      transition: all .5s; }
      .menu_right .menu_main_pc ul li a .icon {
        margin-left: 5px;
        width: 30px; }
    .menu_right .menu_main_pc ul li:hover {
      border-left: 5px solid #bb0e1f; }
      .menu_right .menu_main_pc ul li:hover a {
        transform: translate(0px, 0px); }
  .menu_right .menu_main_sp ul {
    display: flex;
    align-items: center; }
    .menu_right .menu_main_sp ul li {
      width: 100%;
      text-align: center; }
      .menu_right .menu_main_sp ul li:first-child {
        text-align: left; }
      .menu_right .menu_main_sp ul li:last-child {
        text-align: right; }
      .menu_right .menu_main_sp ul li a {
        display: block;
        padding: 30px 0px;
        font-size: 3rem;
        color: #fff; }
  .menu_right .language_f {
    position: absolute;
    bottom: 5%;
    right: 45px; }
    .menu_right .language_f ul {
      display: flex;
      align-items: center;
      transition: all .5s;
      border-radius: 10px;
      padding: 5px 0px; }
      .menu_right .language_f ul li {
        opacity: 0;
        visibility: hidden;
        width: 70px;
        width: 0; }
        .menu_right .language_f ul li a {
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          padding: 0px 10px;
          text-align: right;
          border-right: 1px solid #e2e2e2;
          height: 20px;
          color: #fff; }
          .menu_right .language_f ul li a img {
            height: 20px;
            margin-right: 4px; }
      .menu_right .language_f ul li.active {
        width: unset;
        opacity: 1;
        visibility: visible; }
      .menu_right .language_f ul li:last-child a {
        border-right: 0px solid #e2e2e2; }
      .menu_right .language_f ul .down_icon {
        transition: all .5s;
        margin-left: 3px; }
      .menu_right .language_f ul:hover {
        background: #fff; }
        .menu_right .language_f ul:hover li {
          width: unset;
          opacity: 1;
          visibility: visible; }
          .menu_right .language_f ul:hover li a {
            color: #000; }
      .menu_right .language_f ul:hover .down_icon {
        transform: rotateZ(-180deg); }

@media (min-width: 1660px) {
  .container {
    width: calc(100% - 400px); } }

/*# sourceMappingURL=styles.css.map */
/*css */
.menu_right{
	right: -416px;
	transition: all .5s;
}
.menu_right.active{
	right: 0;
}
.menu_right .icon_menu,
.menu_right .icon_menu span:before,
.menu_right .icon_menu span:after{
	transition: all .5s;
}
.menu_right .icon_menu.open{
	background: transparent;
}

.menu_right .icon_menu.open span{
	height: 0px;
}
.menu_right .icon_menu.open span:before {
    width: 100%;  
    top: 7px;
    transform: rotateZ(128deg);
}
.menu_right .icon_menu.open span:after {
   right: 0;
    width: 100%;
    top: 7px;
    background: #c5c8ca;
    transform: rotateZ(41deg);
}
.page .btn_lh a{
	background: transparent;
}
.page .btn_lh a:after {
 	width: 20%;
    border: 0px;
    height: 100%;
    background: url(../images/btn_lh.png);
    background-size: cover;
    transform: unset;
    bottom: 0;
    top: unset;
    left: 0;
}
.page .btn_lh a:before {
	content: '';
	position: absolute;
 	width: calc(100% - 20%);
 	left: 20%;
    border: 0px;
    height: 100%;
    background: #bb0e1f;
    background-size: cover;
    transform: unset;
    bottom: 0;
    top: unset;
    transition: all .5s;
}
/*.page .btn_lh a:hover:before{
	width: 0;
}*/
.page .btn_lh a span{
	position: relative;
	z-index: 9;
}

.bottom_page{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50vw;
	height: 217px;
	background: rgba(23, 41, 26, 0.7);
	padding-left: 200px;
	
}
.bottom_page .support_text{
	
	position: relative;
	display: flex;align-items: center;
	height: 100%;
}
.bottom_page .support_text .btn_move{
	position: absolute;
	top: -20px;
	left: 0;
  cursor: pointer;
}
.bottom_page .support_text ul{
	margin: 0px;
	padding: 0px;
	display: flex;
	width: 100%;
}
.bottom_page .support_text ul li{
	width: 100%;
}
.bottom_page .support_text ul li a{
	font-size: 1.4rem;
	color: #fff;
}
.bottom_page .support_text ul li p{
	margin: 0px;
}
.bottom_page .support_text ul li a .name{
	font-weight: 700;
}
.btn_move{
	color: #fff;
	position: relative;
	padding: 10px 20px;
	display: inline-block;
	overflow: hidden;
	font-size: 1.4rem;
}
.btn_move span{
	position: relative;
	z-index: 9;
}
.btn_move:before{
	position: absolute;
	content: '';
	background: url('../images/btn.png');
	width: 20%;
	height: 100%;
	background-size: cover;
	left: 0;
	bottom: 0;
	z-index: 0;
}
.btn_move:after{
	position: absolute;
	content: '';
	background: #bb0e1f;
	width: 0;
	height: 100%;
	left: 20%;
	bottom: 0;
	z-index: 0;
	transition: all .5s;
}
.btn_move:hover:after{
	width: 100%;
}
.btn_move:hover{
	color: #fff;
}
.btn_full:after{
	width: 100%;
}
.btn_move span img{
	margin-left: 15px;
}
.box_right{
	background: transparent;
	right: 0;
	left: unset;
}
.slider{
	width: 30%;
	display: flex;
	align-items: center;
	height: 100%;
}
.slider h2{
	margin: 0px;
	color: #fff;
	font-size: 2rem;
	margin-bottom: 5px;
}
.slider_main_pc{
	position: relative;
}

.slider_main_pc,.slider>div{
	width: 100%;

}
.slick-dots,
.slider_main_pc button:after,
.slider_main_pc button:before{
	display: none !important;
}

.slider_main_pc button{
	background: transparent;
	border: 0px;
	outline: 0;
	position: absolute;
}
.slider_main_pc button.slick-prev{
	left: 0;
	top: 0;
	height: 100%;
	padding: 5px;
	background: #17291A;
	z-index: 999;
}.slider_main_pc button.slick-next{
	right: 0;
	top: 0;
	height: 100%;
	padding: 5px;
	background: #17291A;
	z-index: 999;
}
.slider_main_pc button img{
	width: 20px;
}
.slider_main_pc button.slick-prev img{
	transform: rotateZ(180deg);
}
.text_main{
	position: absolute;
	left: 200px;
	top: 40%;
}
.text_main h2{
	font-size: 2.2rem;
	letter-spacing: 0.33px;
	color: #FFFFFF;
	padding-left: 50px;
	position: relative;
	margin: 0px;
	margin-bottom: 30px;
}
.text_main h2:after{
	position: absolute;
	left: 0;
	top: 15px;
	height: 1px;
	background: #fff;
	width: 40px;
	content: '';
}
.text_main h3{
	font-size: 4.2rem;
	font-family: Quicksand;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-transform: uppercase;
	position: relative;
	text-indent: inherit;
	display: inline-block;
	margin: 0px;
	margin-bottom: 30px;
}
.text_main h3:before{
	position: absolute;
	left: 0;
	width: 100%;
	height: 30%;
	background: rgba(97, 60, 62, .8);
	bottom: 0;
	content: '';
	z-index: 1;
}
.text_main h3 span{
	position: relative;
	z-index: 9;
}
.page_in .content_page_a {
  position: relative;
  background: #202421;
}
.bgw{
  background: #fff !important;
}
.bgw .icon_support ul li a {
   color: #6D6D6D;
}
.bgw .search_icon a {
  background: rgba(109, 109, 109, .2);
}
.color_una{
  color: rgba(187, 14, 31, 1) !important;
  font-weight: 400;
}
.img_slider {
  position: relative;
}
.img_slider:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  content: '';
}
@media(max-width: 1660px){
	.container {
    	width: calc(100% - 200px);
	}
	.bottom_page {
		padding-left: 100px;
	}
	.slider{
		width: 50%;
	}
	.fullpage{
		overflow: hidden;
	}
	
	.text_main{
		left: 100px;
		top: 30%;
	}
}
@media(max-width: 992px){
  .menu_right{
    padding: 50px 30px;
  }
  .menu_right .menu_pc .seach_f {
    margin-bottom: 10%;
  }
	.fullpage img {
	    max-width: unset;
	    width: unset;
	    height: 100%;
	}
	.text_main{
		left: 15px;
		top: 30%;
	}
	.text_main h3{
		font-size: 2.4rem;
		margin-bottom: 15px;
	}
	.page .icon_support {
		display: none;
	}
	.slider_main_pc button img {
    	width: 10px;
	}
	.container {
    	width: calc(100% - 30px);
	}
	.bottom_page {
    	padding-left: 15px;
	}
	.bottom_page {
		width: 100%;
		position: relative;
		height: unset;
	}
	.menu_right .icon_menu {
	    width: 60px;
	    height: 60px;
	}
	.support_text{
		padding: 30px 0px;
	}
	.box_right {
	    position: absolute;
	    /* left: 0; */
	    bottom: 100px;
	    width: 30%;
	    padding: 10px;
	}
	.box_right .slider{
		width: 100%;
	}
  .menu_right .language_f ul {
    background: #fff;
  }
  .menu_right .language_f ul li {
      width: unset;
      opacity: 1;
      visibility: visible;
  }
  .menu_right .language_f ul .down_icon {
    transform: rotateZ(-180deg);
  }
  .menu_right .language_f ul li a {
    color: #000;
  }
}